 .u-section-1 {
  background-image: none;
  min-height: 24px;
}

@media (max-width: 575px) {
   .u-section-1 {
    min-height: 30px;
  }
} .u-section-2 {
  min-height: 100vh;
}

.u-section-2 .u-image-1 {
  width: 800px;
  min-height: 250px;
  background-image: url("images/bg-2.jpg");
  margin: 30px auto 60px;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px;
}

.u-section-2 .u-group-2 {
  width: 340px;
  margin: 13px auto 0;
}

.u-section-2 .u-container-layout-2 {
  padding-bottom: 30px;
}

.u-section-2 .u-image-2 {
  height: 111px;
  text-align: left;
  margin-top: 20px;
  margin-bottom: 0;
}

.u-section-2 .u-text-1 {
  text-align: left;
  font-size: 1.375rem;
  margin: 15px auto 0 0;
}

.u-section-2 .u-btn-1 {
  font-size: 0.875rem;
  letter-spacing: 1px;
  border-style: none;
  font-weight: 700;
  animation-duration: 1000ms;
  text-transform: none;
  text-align: left;
  margin: 15px auto 0 0;
  padding: 10px 15px;
}

.u-section-2 .u-icon-1 {
  font-size: 0.9474em;
  vertical-align: 0px;
  margin-left: 0;
}

.u-section-2 .u-line-1 {
  width: 0;
  height: 0;
  margin: 30px auto 0 0;
}

.u-section-2 .u-btn-2 {
  border-style: none;
  font-weight: 700;
  font-size: 0.9375rem;
  letter-spacing: normal;
  text-transform: none;
  margin: 30px auto 0 0;
}

.u-section-2 .u-icon-2 {
  font-size: 0.7em;
}

@media (max-width: 991px) {
  .u-section-2 .u-image-1 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-image-1 {
    width: 540px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-image-1 {
    min-height: 240px;
    background-position: 50% 50%;
    margin-top: 0;
    margin-bottom: 0;
    width: calc(((100% - 340px) / 2) + 390px);
    margin-left: initial;
    margin-right: initial;
  }

  .u-section-2 .u-group-2 {
    min-height: 310px;
    margin-top: 0;
    margin-bottom: -446px;
  }

  .u-section-2 .u-container-layout-2 {
    padding: 0 0 24px;
  }

  .u-section-2 .u-image-2 {
    width: 339px;
    margin-top: 17px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-2 .u-text-1 {
    font-size: 1rem;
    width: auto;
    margin-left: 1px;
    margin-right: 1px;
  }

  .u-section-2 .u-btn-1 {
    margin-top: 10px;
    margin-left: auto;
  }

  .u-section-2 .u-line-1 {
    margin-top: 5px;
    margin-right: 340px;
  }

  .u-section-2 .u-btn-2 {
    border-style: solid;
    font-weight: normal;
    margin-top: 12px;
    margin-left: auto;
    padding: 10px 5px;
  }

  .u-section-2 .u-icon-2 {
    font-size: 0.875rem;
  }
} .u-section-3 {
  background-image: url("images/bg1.jpg");
  background-position: 50% 50%;
}

.u-section-3 .u-sheet-1 {
  min-height: 537px;
}

.u-section-3 .u-image-1 {
  width: 490px;
  height: 151px;
  margin: 99px auto 0 0;
}

.u-section-3 .u-text-1 {
  font-size: 1.5rem;
  margin: 43px auto 0 0;
}

.u-section-3 .u-btn-1 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin: 30px auto 60px 0;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 443px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 339px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 254px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 114px;
  }

  .u-section-3 .u-image-1 {
    width: 340px;
    height: 105px;
  }
}.u-section-4 .u-sheet-1 {
  min-height: 91px;
}

.u-section-4 .u-text-1 {
  font-size: 1.5rem;
  margin: 16px auto 0;
}

.u-section-4 .u-btn-1 {
  background-image: none;
  font-size: 1.5rem;
  padding: 0;
}

.u-section-4 .u-icon-1 {
  width: 33px;
  height: 32px;
  background-image: none;
  margin: 1px auto 16px;
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 164px;
  }

  .u-section-4 .u-text-1 {
    width: auto;
    margin-top: 20px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-btn-1 {
    font-size: 1.1875rem;
  }

  .u-section-4 .u-icon-1 {
    margin-top: 0;
    margin-bottom: 60px;
  }
}.u-section-5 .u-sheet-1 {
  min-height: 309px;
}

.u-section-5 .u-text-1 {
  font-weight: 700;
  font-size: 2.25rem;
  margin: 60px 0 0;
}

.u-section-5 .u-text-2 {
  font-size: 1.25rem;
  margin: 20px 0 60px;
}

@media (max-width: 575px) {
  .u-section-5 .u-text-1 {
    font-size: 1.375rem;
  }

  .u-section-5 .u-text-2 {
    font-size: 1.125rem;
  }
}.u-section-6 .u-sheet-1 {
  min-height: 100vh;
}

.u-section-6 .u-list-1 {
  margin-top: 20px;
  margin-bottom: 0;
}

.u-section-6 .u-repeater-1 {
  grid-gap: 10px 10px;
  grid-template-columns: calc(33.3333% - 6.66667px) calc(33.3333% - 6.66667px) calc(33.3333% - 6.66667px);
  min-height: 406px;
}

.u-section-6 .u-container-layout-1 {
  padding: 10px;
}

.u-section-6 .u-image-1 {
  width: 120px;
  height: 131px;
  margin: 31px 108px 0 125px;
}

.u-section-6 .u-text-1 {
  background-image: none;
  font-weight: 700;
  font-size: 1.375rem;
  margin: 30px auto 0;
}

.u-section-6 .u-text-2 {
  margin: 14px auto 0;
}

.u-section-6 .u-container-layout-2 {
  padding: 10px;
}

.u-section-6 .u-image-2 {
  width: 120px;
  height: 131px;
  margin: 31px 108px 0 125px;
}

.u-section-6 .u-text-3 {
  background-image: none;
  font-weight: 700;
  font-size: 1.375rem;
  margin: 30px auto 0;
}

.u-section-6 .u-text-4 {
  font-size: 1.375rem;
  margin: 14px auto 0;
}

.u-section-6 .u-container-layout-3 {
  padding: 10px;
}

.u-section-6 .u-image-3 {
  width: 120px;
  height: 131px;
  margin: 31px 108px 0 125px;
}

.u-section-6 .u-text-5 {
  background-image: none;
  font-weight: 700;
  font-size: 1.375rem;
  margin: 30px auto 0;
}

.u-section-6 .u-text-6 {
  font-size: 1.375rem;
  margin: 14px auto 0;
}

.u-section-6 .u-layout-wrap-1 {
  margin-top: 60px;
  margin-bottom: 0;
}

.u-section-6 .u-image-4 {
  min-height: 516px;
  background-image: url("images/a1.png");
  background-position: 50% 50%;
}

.u-section-6 .u-container-layout-4 {
  padding: 23px 30px;
}

.u-section-6 .u-layout-cell-2 {
  min-height: 516px;
}

.u-section-6 .u-container-layout-5 {
  padding: 30px;
}

.u-section-6 .u-text-7 {
  font-size: 1.5rem;
  font-weight: 700;
  margin: 0 auto 0 0;
}

.u-section-6 .u-text-8 {
  font-weight: normal;
  font-size: 1.25rem;
  margin: 20px 14px 0 0;
}

.u-section-6 .u-list-icon-1 {
  color: rgb(0, 0, 0) !important;
}

@media (max-width: 1199px) {
  .u-section-6 .u-sheet-1 {
    min-height: 421px;
  }

  .u-section-6 .u-repeater-1 {
    min-height: 335px;
  }

  .u-section-6 .u-layout-wrap-1 {
    position: relative;
  }

  .u-section-6 .u-image-4 {
    min-height: 425px;
  }

  .u-section-6 .u-layout-cell-2 {
    min-height: 425px;
  }

  .u-section-6 .u-text-8 {
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-sheet-1 {
    min-height: 344px;
  }

  .u-section-6 .u-repeater-1 {
    grid-template-columns: calc(50% - 5px) calc(50% - 5px);
    min-height: 770px;
  }

  .u-section-6 .u-image-4 {
    min-height: 326px;
  }

  .u-section-6 .u-layout-cell-2 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-sheet-1 {
    min-height: 851px;
  }

  .u-section-6 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-6 .u-image-4 {
    min-height: 489px;
  }

  .u-section-6 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-sheet-1 {
    min-height: 569px;
  }

  .u-section-6 .u-image-1 {
    margin-right: 82px;
    margin-left: auto;
  }

  .u-section-6 .u-text-1 {
    width: auto;
  }

  .u-section-6 .u-image-2 {
    margin-right: 82px;
    margin-left: auto;
  }

  .u-section-6 .u-text-3 {
    width: auto;
  }

  .u-section-6 .u-image-3 {
    margin-right: 82px;
    margin-left: auto;
  }

  .u-section-6 .u-text-5 {
    width: auto;
  }

  .u-section-6 .u-image-4 {
    min-height: 308px;
  }

  .u-section-6 .u-text-7 {
    font-size: 1.375rem;
  }
}.u-section-7 .u-sheet-1 {
  min-height: 98px;
}

.u-section-7 .u-line-1 {
  width: 912px;
  height: 0;
  margin: 47px auto;
}

@media (max-width: 991px) {
  .u-section-7 .u-line-1 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-7 .u-line-1 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-7 .u-line-1 {
    width: 340px;
  }
}.u-section-8 .u-sheet-1 {
  min-height: 122px;
}

.u-section-8 .u-text-1 {
  font-weight: 700;
  font-size: 2.25rem;
  margin: 37px auto;
}

@media (max-width: 575px) {
  .u-section-8 .u-text-1 {
    font-size: 1.75rem;
  }
} .u-section-9 {
  background-image: none;
}

.u-section-9 .u-sheet-1 {
  min-height: 199px;
}

.u-section-9 .u-accordion-1 {
  width: 800px;
  margin: 27px auto;
}

.u-section-9 .u-accordion-item-1 {
  margin-bottom: 0;
}

.u-section-9 .u-accordion-link-1 {
  background-image: none;
  font-size: 1rem;
  text-transform: none;
  font-weight: 700;
  padding: 20px;
}

.u-section-9 .u-icon-1 {
  height: 20px;
  width: 20px;
}

.u-section-9 .u-accordion-pane-1 {
  min-height: 150px;
}

.u-section-9 .u-container-layout-1 {
  padding: 30px;
}

.u-section-9 .u-text-1 {
  font-weight: normal;
  margin: 0;
}

.u-section-9 .u-accordion-item-2 {
  margin-bottom: 0;
}

.u-section-9 .u-accordion-link-2 {
  background-image: none;
  font-size: 1rem;
  text-transform: none;
  font-weight: 700;
  padding: 20px;
}

.u-section-9 .u-icon-2 {
  height: 20px;
  width: 20px;
}

.u-section-9 .u-accordion-pane-2 {
  min-height: 150px;
}

.u-section-9 .u-container-layout-2 {
  padding: 30px;
}

.u-section-9 .u-text-2 {
  margin: 0;
}

@media (max-width: 991px) {
  .u-section-9 .u-accordion-1 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-9 .u-accordion-1 {
    width: 540px;
  }

  .u-section-9 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-9 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-9 .u-sheet-1 {
    min-height: 200px;
  }

  .u-section-9 .u-accordion-1 {
    width: 340px;
  }
}.u-section-10 .u-sheet-1 {
  min-height: 98px;
}

.u-section-10 .u-line-1 {
  width: 912px;
  height: 0;
  margin: 47px auto;
}

@media (max-width: 991px) {
  .u-section-10 .u-line-1 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-10 .u-line-1 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-10 .u-line-1 {
    width: 340px;
  }
}.u-section-11 .u-sheet-1 {
  min-height: 122px;
}

.u-section-11 .u-text-1 {
  font-weight: 700;
  font-size: 2.25rem;
  margin: 35px auto;
}

@media (max-width: 575px) {
  .u-section-11 .u-text-1 {
    font-size: 1.875rem;
  }
} .u-section-12 {
  background-image: none;
}

.u-section-12 .u-sheet-1 {
  min-height: 319px;
}

.u-section-12 .u-accordion-1 {
  width: 800px;
  margin: 55px auto 40px;
}

.u-section-12 .u-accordion-link-1 {
  background-image: none;
  font-size: 1rem;
  text-transform: none;
  font-weight: 700;
  padding: 20px;
}

.u-section-12 .u-icon-1 {
  height: 20px;
  width: 20px;
}

.u-section-12 .u-accordion-pane-1 {
  min-height: 150px;
}

.u-section-12 .u-container-layout-1 {
  padding: 30px;
}

.u-section-12 .u-text-1 {
  font-weight: 400;
  margin-bottom: 0;
  margin-top: 0;
}

.u-section-12 .u-accordion-link-2 {
  background-image: none;
  font-size: 1rem;
  text-transform: none;
  font-weight: 700;
  padding: 20px;
}

.u-section-12 .u-icon-2 {
  height: 20px;
  width: 20px;
}

.u-section-12 .u-accordion-pane-2 {
  min-height: 150px;
}

.u-section-12 .u-container-layout-2 {
  padding: 30px;
}

.u-section-12 .u-text-2 {
  margin-bottom: 0;
  margin-top: 0;
  font-weight: normal;
}

.u-section-12 .u-accordion-item-3 {
  margin-bottom: 0;
}

.u-section-12 .u-accordion-link-3 {
  background-image: none;
  font-size: 1rem;
  text-transform: none;
  font-weight: 700;
  padding: 20px;
}

.u-section-12 .u-icon-3 {
  height: 20px;
  width: 20px;
}

.u-section-12 .u-accordion-pane-3 {
  min-height: 150px;
}

.u-section-12 .u-container-layout-3 {
  padding: 30px;
}

.u-section-12 .u-text-3 {
  margin-bottom: 0;
  margin-top: 0;
  font-weight: normal;
}

.u-section-12 .u-accordion-item-4 {
  margin-left: 0;
  margin-right: auto;
  margin-bottom: 0;
}

.u-section-12 .u-accordion-link-4 {
  background-image: none;
  font-size: 1rem;
  text-transform: none;
  font-weight: 700;
  padding: 20px;
}

.u-section-12 .u-icon-4 {
  height: 20px;
  width: 20px;
}

.u-section-12 .u-accordion-pane-4 {
  min-height: 150px;
}

.u-section-12 .u-container-layout-4 {
  padding: 30px;
}

.u-section-12 .u-text-4 {
  margin-bottom: 0;
  margin-top: 0;
  font-weight: normal;
}

.u-section-12 .u-accordion-item-5 {
  margin-left: 0;
  margin-right: auto;
  margin-bottom: 0;
}

.u-section-12 .u-accordion-link-5 {
  background-image: none;
  font-size: 1rem;
  text-transform: none;
  font-weight: 700;
  padding: 20px;
}

.u-section-12 .u-icon-5 {
  height: 20px;
  width: 20px;
}

.u-section-12 .u-accordion-pane-5 {
  min-height: 150px;
}

.u-section-12 .u-container-layout-5 {
  padding: 30px;
}

.u-section-12 .u-text-5 {
  margin-bottom: 0;
  margin-top: 0;
  font-weight: normal;
}

.u-section-12 .u-accordion-item-6 {
  margin-left: 0;
  margin-right: auto;
  margin-bottom: 0;
}

.u-section-12 .u-accordion-link-6 {
  background-image: none;
  font-size: 1rem;
  text-transform: none;
  font-weight: 700;
  padding: 20px;
}

.u-section-12 .u-icon-6 {
  height: 20px;
  width: 20px;
}

.u-section-12 .u-accordion-pane-6 {
  min-height: 150px;
}

.u-section-12 .u-container-layout-6 {
  padding: 30px;
}

.u-section-12 .u-text-6 {
  margin-bottom: 0;
  margin-top: 0;
}

.u-section-12 .u-accordion-item-7 {
  margin-left: 0;
  margin-right: auto;
  margin-bottom: 0;
}

.u-section-12 .u-accordion-link-7 {
  background-image: none;
  font-size: 1rem;
  text-transform: none;
  font-weight: 700;
  padding: 20px;
}

.u-section-12 .u-icon-7 {
  height: 20px;
  width: 20px;
}

.u-section-12 .u-accordion-pane-7 {
  min-height: 150px;
}

.u-section-12 .u-container-layout-7 {
  padding: 30px;
}

.u-section-12 .u-text-7 {
  margin-bottom: 0;
  margin-top: 0;
}

.u-section-12 .u-accordion-item-8 {
  margin-left: 0;
  margin-right: auto;
  margin-bottom: 0;
}

.u-section-12 .u-accordion-link-8 {
  background-image: none;
  font-size: 1rem;
  text-transform: none;
  font-weight: 700;
  padding: 20px;
}

.u-section-12 .u-icon-8 {
  height: 20px;
  width: 20px;
}

.u-section-12 .u-accordion-pane-8 {
  min-height: 150px;
}

.u-section-12 .u-container-layout-8 {
  padding: 30px;
}

.u-section-12 .u-text-8 {
  margin-bottom: 0;
  margin-top: 0;
}

.u-section-12 .u-accordion-item-9 {
  margin-left: 0;
  margin-right: auto;
  margin-bottom: 0;
}

.u-section-12 .u-accordion-link-9 {
  background-image: none;
  font-size: 1rem;
  text-transform: none;
  font-weight: 700;
  padding: 20px;
}

.u-section-12 .u-icon-9 {
  height: 20px;
  width: 20px;
}

.u-section-12 .u-accordion-pane-9 {
  min-height: 150px;
}

.u-section-12 .u-container-layout-9 {
  padding: 30px;
}

.u-section-12 .u-text-9 {
  margin-bottom: 0;
  margin-top: 0;
}

.u-section-12 .u-accordion-item-10 {
  margin-left: 0;
  margin-right: auto;
  margin-bottom: 0;
}

.u-section-12 .u-accordion-link-10 {
  background-image: none;
  font-size: 1rem;
  text-transform: none;
  font-weight: 700;
  padding: 20px;
}

.u-section-12 .u-icon-10 {
  height: 20px;
  width: 20px;
}

.u-section-12 .u-accordion-pane-10 {
  min-height: 150px;
}

.u-section-12 .u-container-layout-10 {
  padding: 30px;
}

.u-section-12 .u-text-10 {
  margin-bottom: 0;
  margin-top: 0;
}

.u-section-12 .u-accordion-item-11 {
  margin-left: 0;
  margin-right: auto;
  margin-bottom: 0;
}

.u-section-12 .u-accordion-link-11 {
  background-image: none;
  font-size: 1rem;
  text-transform: none;
  font-weight: 700;
  padding: 20px;
}

.u-section-12 .u-icon-11 {
  height: 20px;
  width: 20px;
}

.u-section-12 .u-accordion-pane-11 {
  min-height: 150px;
}

.u-section-12 .u-container-layout-11 {
  padding: 30px;
}

.u-section-12 .u-text-11 {
  margin-bottom: 0;
  margin-top: 0;
}

.u-section-12 .u-accordion-item-12 {
  margin-left: 0;
  margin-right: auto;
  margin-bottom: 0;
}

.u-section-12 .u-accordion-link-12 {
  background-image: none;
  font-size: 1rem;
  text-transform: none;
  font-weight: 700;
  padding: 20px;
}

.u-section-12 .u-icon-12 {
  height: 20px;
  width: 20px;
}

.u-section-12 .u-accordion-pane-12 {
  min-height: 150px;
}

.u-section-12 .u-container-layout-12 {
  padding: 30px;
}

.u-section-12 .u-text-12 {
  margin-bottom: 0;
  margin-top: 0;
}

.u-section-12 .u-btn-1 {
  background-image: none;
  padding: 0;
}

.u-section-12 .u-accordion-item-13 {
  margin-left: 0;
  margin-right: auto;
  margin-bottom: 0;
}

.u-section-12 .u-accordion-link-13 {
  background-image: none;
  font-size: 1rem;
  text-transform: none;
  font-weight: 700;
  padding: 20px;
}

.u-section-12 .u-icon-13 {
  height: 20px;
  width: 20px;
}

.u-section-12 .u-accordion-pane-13 {
  min-height: 150px;
}

.u-section-12 .u-container-layout-13 {
  padding: 30px;
}

.u-section-12 .u-text-13 {
  margin-bottom: 0;
  margin-top: 0;
}

.u-section-12 .u-accordion-item-14 {
  margin-left: 0;
  margin-right: auto;
  margin-bottom: 0;
}

.u-section-12 .u-accordion-link-14 {
  background-image: none;
  font-size: 1rem;
  text-transform: none;
  font-weight: 700;
  padding: 20px;
}

.u-section-12 .u-icon-14 {
  height: 20px;
  width: 20px;
}

.u-section-12 .u-accordion-pane-14 {
  min-height: 150px;
}

.u-section-12 .u-container-layout-14 {
  padding: 30px;
}

.u-section-12 .u-text-14 {
  margin-bottom: 0;
  margin-top: 0;
}

.u-section-12 .u-accordion-item-15 {
  margin-left: 0;
  margin-right: auto;
  margin-bottom: 0;
}

.u-section-12 .u-accordion-link-15 {
  background-image: none;
  font-size: 1rem;
  text-transform: none;
  font-weight: 700;
  padding: 20px;
}

.u-section-12 .u-icon-15 {
  height: 20px;
  width: 20px;
}

.u-section-12 .u-accordion-pane-15 {
  min-height: 150px;
}

.u-section-12 .u-container-layout-15 {
  padding: 30px;
}

.u-section-12 .u-text-15 {
  margin-bottom: 0;
  margin-top: 0;
}

.u-section-12 .u-accordion-item-16 {
  margin-left: 0;
  margin-right: auto;
  margin-bottom: 0;
}

.u-section-12 .u-accordion-link-16 {
  background-image: none;
  font-size: 1rem;
  text-transform: none;
  font-weight: 700;
  padding: 20px;
}

.u-section-12 .u-icon-16 {
  height: 20px;
  width: 20px;
}

.u-section-12 .u-accordion-pane-16 {
  min-height: 150px;
}

.u-section-12 .u-container-layout-16 {
  padding: 30px;
}

.u-section-12 .u-text-16 {
  margin-bottom: 0;
  margin-top: 0;
}

.u-section-12 .u-accordion-item-17 {
  margin-left: 0;
  margin-right: auto;
  margin-bottom: 0;
}

.u-section-12 .u-accordion-link-17 {
  background-image: none;
  font-size: 1rem;
  text-transform: none;
  font-weight: 700;
  padding: 20px;
}

.u-section-12 .u-icon-17 {
  height: 20px;
  width: 20px;
}

.u-section-12 .u-accordion-pane-17 {
  min-height: 150px;
}

.u-section-12 .u-container-layout-17 {
  padding: 30px;
}

.u-section-12 .u-text-17 {
  margin-bottom: 0;
  margin-top: 0;
}

.u-section-12 .u-accordion-item-18 {
  margin-left: 0;
  margin-right: auto;
  margin-bottom: 0;
}

.u-section-12 .u-accordion-link-18 {
  background-image: none;
  font-size: 1rem;
  text-transform: none;
  font-weight: 700;
  padding: 20px;
}

.u-section-12 .u-icon-18 {
  height: 20px;
  width: 20px;
}

.u-section-12 .u-accordion-pane-18 {
  min-height: 150px;
}

.u-section-12 .u-container-layout-18 {
  padding: 30px;
}

.u-section-12 .u-text-18 {
  margin-bottom: 0;
  margin-top: 0;
}

.u-section-12 .u-accordion-item-19 {
  margin-left: 0;
  margin-right: auto;
  margin-bottom: 0;
}

.u-section-12 .u-accordion-link-19 {
  background-image: none;
  font-size: 1rem;
  text-transform: none;
  font-weight: 700;
  padding: 20px;
}

.u-section-12 .u-icon-19 {
  height: 20px;
  width: 20px;
}

.u-section-12 .u-accordion-pane-19 {
  min-height: 150px;
}

.u-section-12 .u-container-layout-19 {
  padding: 30px;
}

.u-section-12 .u-text-19 {
  margin-bottom: 0;
  margin-top: 0;
}

.u-section-12 .u-btn-2 {
  background-image: none;
  padding: 0;
}

.u-section-12 .u-accordion-item-20 {
  margin-left: 0;
  margin-right: auto;
}

.u-section-12 .u-accordion-link-20 {
  background-image: none;
  font-size: 1rem;
  text-transform: none;
  font-weight: 700;
  padding: 20px;
}

.u-section-12 .u-icon-20 {
  height: 20px;
  width: 20px;
}

.u-section-12 .u-accordion-pane-20 {
  min-height: 150px;
}

.u-section-12 .u-container-layout-20 {
  padding: 30px;
}

.u-section-12 .u-text-20 {
  margin-bottom: 0;
  margin-top: 0;
}

@media (max-width: 991px) {
  .u-section-12 .u-accordion-1 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-12 .u-accordion-1 {
    width: 540px;
  }

  .u-section-12 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-12 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-12 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-12 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-12 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-12 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-12 .u-container-layout-7 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-12 .u-container-layout-8 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-12 .u-container-layout-9 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-12 .u-container-layout-10 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-12 .u-container-layout-11 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-12 .u-container-layout-12 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-12 .u-container-layout-13 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-12 .u-container-layout-14 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-12 .u-container-layout-15 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-12 .u-container-layout-16 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-12 .u-container-layout-17 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-12 .u-container-layout-18 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-12 .u-container-layout-19 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-12 .u-container-layout-20 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-12 .u-accordion-1 {
    width: 340px;
  }
} .u-section-13 {
  background-image: none;
}

.u-section-13 .u-sheet-1 {
  min-height: 268px;
}

.u-section-13 .u-text-1 {
  font-size: 1.875rem;
  font-weight: 700;
  margin: 57px auto 0;
}

.u-section-13 .u-text-2 {
  font-weight: 400;
  font-size: 1.75rem;
  margin: 18px auto 0;
}

.u-section-13 .u-btn-1 {
  font-size: 1.5rem;
  padding-left: 40px;
  padding-right: 40px;
  border-style: none;
  font-weight: 700;
  background-image: none;
  margin: 27px auto 45px;
}

.u-section-13 .u-icon-1 {
  font-size: 0.7em;
  vertical-align: 0px;
  margin-left: 8px;
}

@media (max-width: 1199px) {
  .u-section-13 .u-btn-1 {
    padding-top: 15px;
    padding-bottom: 15px;
  }
} .u-section-14 {
  background-image: none;
}

.u-section-14 .u-sheet-1 {
  min-height: 268px;
}

.u-section-14 .u-text-1 {
  font-size: 1.875rem;
  font-weight: 700;
  margin: 57px auto 0;
}

.u-section-14 .u-text-2 {
  font-weight: 400;
  font-size: 3rem;
  margin: 18px auto 0;
}

.u-section-14 .u-btn-1 {
  font-size: 1.5rem;
  padding-left: 40px;
  padding-right: 40px;
  border-style: none;
  font-weight: 700;
  background-image: none;
  margin: 27px auto 45px;
}

.u-section-14 .u-icon-1 {
  font-size: 0.7em;
  vertical-align: 0px;
  margin-left: 8px;
}

@media (max-width: 1199px) {
  .u-section-14 .u-btn-1 {
    padding-top: 15px;
    padding-bottom: 15px;
  }
}

@media (max-width: 575px) {
  .u-section-14 .u-sheet-1 {
    min-height: 100vh;
  }

  .u-section-14 .u-text-1 {
    width: auto;
    margin-top: 250px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-14 .u-text-2 {
    width: auto;
    font-size: 1.75rem;
    margin-left: 0;
    margin-right: 0;
    font-weight: normal;
  }

  .u-section-14 .u-btn-1 {
    margin-top: 35px;
    margin-bottom: 0;
  }
}.u-section-15 .u-sheet-1 {
  min-height: 445px;
}

.u-section-15 .u-image-1 {
  width: 369px;
  height: 99px;
  margin: 76px auto 0;
}

.u-section-15 .u-image-2 {
  width: 362px;
  height: 153px;
  margin: 59px auto 58px;
}

@media (max-width: 575px) {
  .u-section-15 .u-sheet-1 {
    min-height: 428px;
  }

  .u-section-15 .u-image-1 {
    width: 340px;
    height: 91px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-15 .u-image-2 {
    width: 340px;
    height: 144px;
  }
} .u-section-16 {
  background-image: none;
  min-height: 47px;
}

.u-section-16 .u-layout-wrap-1 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-16 .u-layout-cell-1 {
  min-height: 47px;
}

.u-section-16 .u-container-layout-1 {
  padding: 7px 30px;
}

.u-section-16 .u-image-1 {
  width: 187px;
  height: 34px;
  margin: 0 auto 0 0;
}

.u-section-16 .u-layout-cell-2 {
  min-height: 47px;
}

.u-section-16 .u-container-layout-2 {
  padding: 0 30px;
}

.u-section-16 .u-text-1 {
  font-weight: 400;
  margin: 0 0 0 244px;
}

.u-section-16 .u-btn-1 {
  background-image: none;
  font-size: 0.75rem;
  padding: 0;
}

@media (max-width: 1199px) {
   .u-section-16 {
    min-height: 94px;
  }

  .u-section-16 .u-layout-wrap-1 {
    position: relative;
  }

  .u-section-16 .u-layout-cell-1 {
    min-height: 39px;
  }

  .u-section-16 .u-layout-cell-2 {
    min-height: 39px;
  }

  .u-section-16 .u-text-1 {
    margin-right: 124px;
    margin-left: 53px;
  }
}

@media (max-width: 991px) {
   .u-section-16 {
    min-height: 17px;
  }

  .u-section-16 .u-layout-cell-1 {
    min-height: 30px;
  }

  .u-section-16 .u-image-1 {
    width: 180px;
    height: 33px;
  }

  .u-section-16 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-16 .u-text-1 {
    margin-right: 87px;
    margin-left: 16px;
  }
}

@media (max-width: 767px) {
   .u-section-16 {
    min-height: 433px;
  }

  .u-section-16 .u-layout-cell-1 {
    min-height: 124px;
  }

  .u-section-16 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-16 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
   .u-section-16 {
    min-height: 222px;
  }

  .u-section-16 .u-layout-cell-1 {
    min-height: 78px;
  }

  .u-section-16 .u-text-1 {
    margin-right: 0;
    margin-left: 0;
  }
} .u-section-17 {
  background-image: none;
}

.u-section-17 .u-layout-wrap-1 {
  margin-top: 1px;
  margin-bottom: 1px;
}

.u-section-17 .u-layout-cell-1 {
  min-height: 72px;
}

.u-section-17 .u-container-layout-1 {
  padding: 7px 30px;
}

.u-section-17 .u-image-1 {
  width: 187px;
  height: 34px;
  margin: 0 auto;
}

.u-section-17 .u-text-1 {
  font-weight: 400;
  font-size: 0.75rem;
  margin: 1px auto 0;
}

.u-section-17 .u-btn-1 {
  background-image: none;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-17 .u-layout-wrap-1 {
    position: relative;
  }

  .u-section-17 .u-image-1 {
    margin-left: 291px;
  }

  .u-section-17 .u-text-1 {
    margin-left: 622px;
  }
}

@media (max-width: 991px) {
  .u-section-17 .u-image-1 {
    width: 180px;
    height: 33px;
    margin-left: 200px;
  }

  .u-section-17 .u-text-1 {
    margin-left: 493px;
  }
}

@media (max-width: 767px) {
  .u-section-17 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-17 .u-image-1 {
    margin-left: -2px;
  }

  .u-section-17 .u-text-1 {
    margin-left: 589px;
  }
}

@media (max-width: 575px) {
   .u-section-17 {
    min-height: 41px;
  }

  .u-section-17 .u-layout-wrap-1 {
    margin-top: 0;
    margin-bottom: 0;
  }

  .u-section-17 .u-layout-cell-1 {
    min-height: 41px;
  }

  .u-section-17 .u-container-layout-1 {
    padding-top: 4px;
    padding-bottom: 4px;
  }

  .u-section-17 .u-image-1 {
    margin-left: 40px;
  }

  .u-section-17 .u-text-1 {
    width: auto;
    margin-top: -26px;
    margin-right: 40px;
    margin-left: auto;
  }
}.p1 {
	font-size: 1rem !important
}
.p2 {
	font-size: 1.25rem !important
}